$primaryBlue:#1c046f;
$secondaryBlue: #2a00b6;
$ertiaryBlue: #d8ccff;
$primaryOrange: #ff5605;
$textBody: #555555;
$textHeading: #000000;
$bodyBackground: #F8F8F8;
$borderGrey: #E1E1E1;
$wrapperBackground: #3E4044;