*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.icon-img{
    max-width: 5em;
}
.icon-img-plus{
    max-width: 24px;
}

a{
    text-decoration: none;
    color: $secondaryBlue
}
a:hover, a:focus{
    color: $primaryOrange;
}
q, blockquote {

    quotes: "“" "”"; /* one pair */

    /* OR */

    quotes: "“" "”" "‘" "’"; /* two pairs */
}
